@use './typography' as *;
@use '../utils/breakpoints' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $light-font;
    background-color: #191919;
    color: #fff;
}

section {
    position: relative;
}

.container {
    @include breakpoint(md) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
