@use '../utils/' as *;

@font-face {
  font-family: 'montserrat-bold';
  src: url('./Montserrat-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-medium';
  src: url('./Montserrat-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-regular';
  src: url('./Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-light';
  src: url('./Montserrat-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

$bold-font: 'montserrat-bold', sans-serif;
$medium-font: 'montserrat-medium', sans-serif;
$regular-font: 'montserrat-regular', sans-serif;
$light-font: 'montserrat-light', sans-serif;


h1, h3 {
  text-transform: uppercase;
  font-family: $bold-font;
  font-weight: bold;
}

h1 {
  font-size: 7.9rem;
  line-height: 0.9;
}

h3 {
  font-size: 5rem;
  color: $primary-color;
}

p {
  font-size: 2.133rem;
}

@include breakpoint(lg) {
    h1 {
      font-size: 6.9rem;
    }
    h3 {
    font-size: 4rem;
    }
  
}

@include breakpoint(md) {
    h1 {
      font-size: 5.9rem;
    }
     h3 {
     font-size: 3.5rem;
    }
   
}

@include breakpoint(sm) {
    h1 {
      font-size: 4.9rem;
    }
    h3 {
     font-size: 3rem;
    }
    
}