@use '../utils/' as *;

.bar-left::after {
    content: '';
    display: inline-flex;
    height: 0.3rem;
    width: 100%;
    max-width: 48%;
    margin-left: 3rem;
    background-color: $primary-color;
    vertical-align: middle;
    margin-top: -1rem;

    @include breakpoint(xxl) {
        max-width: 0;
    }
}