@use '../utils/' as *;
@use '../base/typography' as *;

.primary-btn {
    font-size: 1.8rem;
    display: inline-block;
    padding:1.4rem 3.6rem;
    text-transform: uppercase;
    background-color: $primary-color;
    color: #fff;
    font-family: $bold-font;
    font-weight: 600;
    border-radius: 0;
    text-decoration: none;

    &.has-arrow {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        padding: 1rem 5rem;
    }

    &:hover {
        background-color: $primary-color;
        -webkit-box-shadow:0px 0px 14px 0px rgba(211,47,47,0.85);
        -moz-box-shadow: 0px 0px 14px 0px rgba(211,47,47,0.85);
        box-shadow: 0px 0px 14px 0px rgba(211,47,47,0.85);
        
        .arrow-icon {
            animation: none;
            transform: translateX(0.5rem) rotate(90deg);
        }
    }

    @include timingFunction;
    @include breakpoint(sm) {
        font-size: 1.5rem;
        padding:1.2rem 3.4rem;
    }

    .arrow-icon {
       transform: translateX(0);
       max-width: 3.5rem;
       margin-top: -0.2rem;
       margin-left: 1rem;
       @include timingFunction;

       @include breakpoint(sm) {
            max-width: 2.8rem;
       }
    }
}


.nav-btn {
    background-color: transparent;
    border: 2px solid $primary-color;

    &-2 {
        &:hover {
            box-shadow: none;
        }
    }
}


