@use '../../assets/styles/utils/' as *;

.about {
    margin-top: -18.5rem;

    &-wrapper .row{
       align-items: center;
    }
    
    &-image-container {
        
    }

    &-image {
        max-width: 100%;
    }

    &-description-container {
       
    }

}