@use '../utils/' as *;
@use '../base/typography' as *;
@use '../components/button' as *;

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999; 
}
.nav {
    padding: 2rem 0;

    @include timingFunction; 
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @include breakpoint(lg) {
           justify-content: center;
        }
    }
    
    &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 0.2rem;
            background-color: $primary-color;
            transform: scaleX(0);
            @include timingFunction;
    }

    &.fixed {
        background-color: $background-dark;
        padding: 1rem 0;
    
        position: relative;
        @include timingFunction;
        
        .nav-logo {
            width: 6rem;
        }

        .nav-list {
            font-size: 1.8rem;
            margin-bottom: 0;

            @include breakpoint(lg) {
                transform: translateY(6.5rem);
            }
        }
        
        & .nav-btn {
            font-size: 1.6rem;
            background-color: $primary-color;

            &:hover {
                background-color: $secondary-color;
            }
        }

        & .nav-menu-icon {
            height: 2.2rem;
            width: 3rem;
            
            & span {
                width: 90%;
            }
            & span:nth-child(1) {
                @include menuIcon(0.2, 0.1);
            }

            & span:nth-child(2) {
                @include menuIcon(0.2, 55, 0.3);
            }

            & span:nth-child(3) {
                @include menuIcon(0.2, 100, 0.3);
            }

            &.toggle {
                span:nth-child(1) {
                    transform: rotate(45deg) translateX(0.5rem) translateY(0.8rem);
                }

                span:nth-child(2) {
                    transform: translateX(150%);
                }

                span:nth-child(3) {
                    transform: rotate(-45deg) translateX(0.6rem) translateY(-0.8rem);
                }
            }
        }

        &::after {
            transform: scaleX(1);
        }

        & {
             padding: 0.5rem 0;
        }
    }

    &-inner {
        display: flex;
        align-items: center;

        @include breakpoint(lg) {
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
    }

    &-logo {
        width: 8.5rem;
        margin-right: 2rem;
        @include timingFunction;
    }

    &-menu-icon {
        height: 3rem;
        width: 3.5rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        @include timingFunction;

        span {
            position: absolute;
            left: 0;
            width: 100%; 
            @include timingFunction;
        }

        span:nth-child(1) {
            @include menuIcon(0.3, 0.1);
        }

        span:nth-child(2) {
            @include menuIcon(0.3, 50, 0.38);
        }

        span:nth-child(3) {
            @include menuIcon(0.3, 100, 0.7);
        }

        &.toggle {
            span:nth-child(1) {
               transform: rotate(45deg) translateX(0.9rem) translateY(1rem);

            }

            span:nth-child(2) {
                transform: translateX(150%);
            }

            span:nth-child(3) {
                transform: rotate(-45deg) translateX(0.6rem) translateY(-0.7rem);
            }
        }
    }

    &-list {
        display: flex;
        list-style-type: none;
        align-items: center;
        font-size: 2rem;
    }
    
    &-link {
        text-decoration: none;
        color: #fff;
        padding:1.4rem 3.6rem;
        @include timingFunction;

        &:hover {
            background-color: $primary-color;
            color: #fff;
        }
    }

    @include breakpoint(lg) {
        & {
             padding: 0.5rem 0;
        }

        &-logo {
            width: 7rem;
        }
        
        &-list {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;   
            background-color: #fff;
            top: 0;
            left:0;
            right: 0;
            max-height: 0;
            transform: translateY(7.5rem);
            padding-left: 3rem;
            padding: 0 3rem;
            overflow: hidden;
            @include timingFunction;
            
            &.toggle {
               padding: 3rem;
               max-height: 99.9rem;
            }
        }

        &-item {
            width: 100%;
        }

        &-item:nth-child(4) .nav-link{
            border: none;
        }

        &-link {
            border-bottom: 1px solid rgba(0, 0, 0, .03);
            color: $primary-color;

            &:hover {
                background-color: #F7F7F7;
                color: $primary-color;
            }
        }

    }

    @include breakpoint(md) {
        & {
            padding: 2rem 1.5rem;
        }
    }
}
