@use '../../assets/styles/variable' as *;
@use '../../assets/fonts/font' as *;
@use '../../assets/styles/breakpoints' as *;
@use '../../components/header/button' as *;

.nav {
    padding: 2rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(lg) {
           justify-content: center;
        }
    }

    &-inner {
        display: flex;

        @include breakpoint(lg) {
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
    }

    &-list {
        @include breakpoint(lg) {
             display: flex;
             flex-direction: column;
        }
    }
    &-logo {
        width: 8.5rem;
        margin-right: 2rem;
    }

    &-list {
        display: flex;
        list-style-type: none;
        align-items: center;
        font-size: 2rem;
    }
    
    &-link {
        text-decoration: none;
        color: #fff;
        padding:1.4rem 3.6rem;
        @include timingFunction;

        &:hover {
            background-color: $secondary-color;
            color: #fff;
        }
    }

    &-btn {
        @include buttonComponent;
        @include timingFunction;
        @include breakpoint(lg) {
            display: none;
        }
        &:hover {
            background-color: $secondary-color;
        }
    }

    &-list-btn {
        @include buttonComponent;
    }
}
