@use '../../assets/styles/variable' as *;
@use '../../assets/fonts/font' as *;

.nav {
    padding: 2rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-inner {
        display: flex;
    }

    &-logo {
        width: 8.5rem;
        margin-right: 2rem;
    }

    &-list {
        display: flex;
        list-style-type: none;
        align-items: center;
        font-size: 2rem;
    }
    
    &-link {
        text-decoration: none;
        color: #fff;
        padding:1.4rem 3.6rem;
        @include timingFunction;

        &:hover {
            background-color: $secondary-color;
            color: #fff;
        }
    }



    &-btn {
        background-color: $primary-color;
        padding:1.4rem 3.6rem;
        font-size: 1.8rem;
        color: #fff;
        text-transform: uppercase;
        font-family: $bold-font;
        font-weight: 600;
        border-radius: 0;
        @include timingFunction;

        &:hover {
            background-color: $secondary-color;
        }
    }
}
