$breakpoint-sm: 480px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1199px;

@mixin breakpointType($breakpoint) {
    @if($breakpoint == sm) {
        @media screen and (max-width: #{$breakpoint-sm}) {
            @content;
        }
    } @else if ($breakpoint == md){
        @media screen and (max-width: #{$breakpoint-md}) {
            @content;
        }
    }  @else if ($breakpoint == lg) {
        @media screen and (max-width: #{$breakpoint-lg}) {
            @content;
        }
    } @else if ($breakpoint == xl){
        @media screen and (max-width: #{$breakpoint-xl}) {
            @content;
        }
    }
}